.container {
    width: 100%;
    
    // padding-right: var(--space-l);
    // padding-left: var(--space-l);
    margin-left: auto;
    margin-right: auto;
    // border: var(--border);
    background: linear-gradient(180deg, var(--color-glint) 50%, var(--color-background) 60%) no-repeat;
    background-position: top left; /* Adjust the starting position of the gradient */
    background-size: 100% 30%; /* Adjust the size of the gradient to occupy more of the top */
    transition: ease;
    
    // Media screen size above 37.5rem
    @media (min-width: 37rem) {
        // background: var(--color-primary);
        max-width: 90rem;
    }
    @media (min-width: 37rem) and (max-width: 60rem) {
        background: linear-gradient(180deg, var(--color-glint) 50%, var(--color-background) 60%) no-repeat;
        background-size: 100% 40%;
        transition: ease;
    }
    @media (min-width: 60rem) {
        background: linear-gradient(180deg, var(--color-glint) 50%, var(--color-background) 60%) no-repeat;
        background-size: 100% 50%;
        transition: ease;
    }
}

